<div ng-controller="showpass" style="width:400px;">
<center>
    <font class="form-heading">
BUS PASS</font></center>
<table width="340" border="0" class="table formlabel">
<!--If possible we can do it by AJax or by Angularjs need to add Angularjs-->
  <tr>
    <td width="116">Route Name</td>
    <td width="214">{{buspass.routename}}</td>
  </tr>
  <tr>
    <td>Boarding Point</td>
    <td>{{buspass.boardingpoint}}</td>
  </tr>
  <tr>
    <td>Location</td>
    <td>{{buspass.location}}</td>
  </tr>
  <tr>
    <td>Cost </td>
    <td>{{buspass.cost}}</td>
  </tr>
  <tr>
    <td>Registered Date</td>
    <td>{{buspass.registereddate}}</td>
  </tr>
  <tr>
    <td>Valid Till :</td>
    <td>{{buspass.validtill}}</td>
  </tr>
   <tr>
    <td></td>
    <td><input type="button" class="btn btn-primary positivebutton" value="renew" ng-click="onrenew(buspass.bus_pass_id)"/>
    <input type="button" class="btn btn-primary dangerbutton" value="Cancelpass" ng-click="oncancel(buspass.bus_pass_id)"/>
  </td>
  </tr>
</table>
<ul  class="pagination" style="position:relative; bottom:40px;">
  <li><a href="#/bus_pass">1</a></li>
  <li><a href="#/bus_pass/1">2</a></li>
  <li><a href="#/bus_pass/2">3</a></li>
  <li><a href="#/bus_pass/3">4</a></li>
  <li><a href="#/bus_pass/4">5</a></li>
 
</ul>
</div>