<div id="mainbuspasspage" ng-controller="finleycontroller">
  <table cellspacing="150" cellpadding="20">
    <tr>
      <td><div class="bigbar"  ng-click="bus_pass()">
          <div> <br>
            <br>
            <table>
              <tr> &nbsp; &nbsp; &nbsp; &nbsp;<span class="glyphicon glyphicon-file glyphicon-xxlarge" style="color:rgba(0,102,102,0.7);" ></span> </tr>
              <tr>
                <p align="center"><font color="white" size="4">BUS PASS </font></p>
              </tr>
            </table>
          </div>
        </div></td>
      <td><div class="bigbar" ng-click="cab_status()">
          <div> <br>
            <br>
            <table>
              <tr> &nbsp; &nbsp; &nbsp; &nbsp; <span class="glyphicon glyphicon-list-alt glyphicon-xxlarge" style="color:rgba(153,0,51,0.7);" ></span> </tr>
              <tr>
                <p align="center"><font color="white" size="4">CAB STATUS</font></p>
              </tr>
            </table>
          </div>
        </div></td>
      <td><div class="bigbar" ng-click="dashboard()">
          <div> <br>
            <br>
            <table>
              <tr> &nbsp; &nbsp; &nbsp; &nbsp; <span class="glyphicon glyphicon-user glyphicon-xxlarge" style="color:rgba(255,153,0,0.75);" ></span> </tr>
              <tr>
                <p align="center"><font color="white" size="4">DASHBOARD</font></p>
              </tr>
            </table>
          </div>
        </div></td>
    </tr>
  </table>
</div>
