<div ng-controller="modify_cab_detailscontroller">
<center>
<font class="form-heading">Cab Details
</font>
</center>  <table width="474" border="0" cellpadding="5">
    <tr>
      <td><table width="378" cellpadding="5">
          <tr>
            
            <td width="144"><div class="input-group"> <span class="input-group-addon form-text-box-icon"><span class="glyphicon glyphicon-road "></span></span>
                <input type="text" class="form-control form-text-box" name="city" ng-model="schedul.city">
              </div></td>
          </tr>
          <tr>
            <td><div class="input-group"> <span class="input-group-addon form-text-box-icon"><span class="glyphicon glyphicon-map-marker "></span></span>
                <input type="text" class="form-control form-text-box" name="from" ng-model="schedul.from">
              </div></td>
            <td><div class="input-group"> <span class="input-group-addon form-text-box-icon"><span class="glyphicon glyphicon-map-marker "></span></span>
                <input type="text" class="form-control form-text-box" name="to" ng-model="schedul.to">
              </div></td>
          </tr>
        </table></td>
      <td><button type="submit" class="btn btn-primary positivebutton"  ng-click="onsearch()">Search</button></td>
    </tr>
  </table>
  //contnt loaded via AJAX
  <table width="632" border="1" id="result" style="border:#999;">
    <tr>
      <td width="189" class="formlabel">Cab No</td>
      <td width="99" class="formlabel">Driver Name</td>
      <td width="94" class="formlabel">Maximum Capacity</td>
      <td width="89" class="formlabel">Driver Name</td>
      <td width="68" class="formlabel">Driver Mobile</td>
     
    </tr>
    <tr class="bus_pass_border" ng-click="onclick()">
      <td class="formlabel" >S750 sirucheri - Avadi</td>
      <td class="formlabel">helios</td>
      <td class="formlabel"> 3</td>
      <td class="formlabel">kdjdk</td>
      <td class="formlabel">239898989</td>

    </tr>
  </table>
  <p>&nbsp;</p>
</div>
