<div id="mainadminpage" ng-controller="admincontroller">
  <table cellspacing="120" cellpadding="15">
    <tr>
      <td><div class="smallbar"  ng-click="bus_management()">
          <div> <br>
            <br>
            <table>
              <tr> &nbsp; &nbsp; &nbsp; &nbsp;<span class="glyphicon glyphicon-wrench glyphicon-xlarge" style="color:rgba(0,102,102,0.7);" ></span> </tr>
              <tr>
                <p align="center"><font color="white" size="3">BUS MANAGEMENT</font></p>
              </tr>
            </table>
          </div>
        </div></td>
      <td><div class="smallbar" ng-click="cab_management()">
          <div> <br>
            <br>
            <table>
              <tr> &nbsp; &nbsp; &nbsp; &nbsp; <span class="glyphicon glyphicon-wrench glyphicon-xlarge" style="color:rgba(153,0,51,0.7);" ></span> </tr>
              <tr>
                <p align="center"><font color="white" size="3">CAB MANAGEMNT</font></p>
              </tr>
            </table>
          </div>
        </div></td>
    </tr>
    <tr>
      <td><div class="smallbar" ng-click="bus_usage_statistics()">
          <div> <br>
            <br>
            <table>
              <tr> &nbsp; &nbsp; &nbsp; &nbsp; <span class="glyphicon glyphicon-stats glyphicon-xlarge" style="color:rgba(255,153,0,0.75);" ></span> </tr>
              <tr>
                <p align="center"><font color="white" size="3">BUS USAGE STATISTICS</font></p>
              </tr>
            </table>
          </div>
        </div></td>
      <td><div class="smallbar" ng-click="cab_usage_statistics()">
          <div> <br>
            <br>
            <table>
              <tr> &nbsp; &nbsp; &nbsp; &nbsp; <span class="glyphicon glyphicon-stats glyphicon-xlarge" style="color:rgba(0,255,0,0.75);" ></span> </tr>
              <tr>
                <p align="center"><font color="white" size="3">CAB USAGE STATISTICS</font></p>
              </tr>
            </table>
          </div>
        </div></td>
    </tr>
  </table>
</div>
