<div id="mainbuspasspage" ng-controller="buscontroller">
  <table cellspacing="150" cellpadding="20">
    <tr>
      <td><div class="bigbar"  ng-click="bus_pass_registration()">
          <div> <br>
            <br>
            <table>
              <tr> &nbsp; &nbsp; &nbsp; &nbsp;<span class="glyphicon glyphicon-shopping-cart glyphicon-xxlarge" style="color:rgba(0,102,102,0.7);" ></span> </tr>
              <tr>
                <p align="center"><font color="white" size="4">BUS PASS REGISTRATION</font></p>
              </tr>
            </table>
          </div>
        </div></td>
      <td><div class="bigbar" ng-click="bus_pass()">
          <div> <br>
            <br>
            <table>
              <tr> &nbsp; &nbsp; &nbsp; &nbsp; <span class="glyphicon glyphicon-file glyphicon-xxlarge" style="color:rgba(153,0,51,0.7);" ></span> </tr>
              <tr>
                <p align="center"><font color="white" size="4">BUS PASS</font></p>
              </tr>
            </table>
          </div>
        </div></td>
      <td><div class="bigbar" ng-click="bus_schedule()">
          <div> <br>
            <br>
            <table>
              <tr> &nbsp; &nbsp; &nbsp; &nbsp; <span class="glyphicon glyphicon-time glyphicon-xxlarge" style="color:rgba(255,153,0,0.75);" ></span> </tr>
              <tr>
                <p align="center"><font color="white" size="4">BUS SCHEDULE</font></p>
              </tr>
            </table>
          </div>
        </div></td>
    </tr>
  </table>
</div>
