<div id="maincabpasspage" ng-controller="cabcontroller">
  <table cellspacing="150" cellpadding="20">
    <tr>
      <td><div class="bigbar"  ng-click="cab_registration()">
          <div> <br>
            <br>
            <table>
              <tr> &nbsp; &nbsp; &nbsp; &nbsp;<span class="glyphicon glyphicon-shopping-cart glyphicon-xxlarge" style="color:rgba(0,102,102,0.7);" ></span> </tr>
              <tr>
                <p align="center"><font color="white" size="4">CAB REGISTRATION</font></p>
              </tr>
            </table>
          </div>
        </div></td>
      <td><div class="bigbar" ng-click="cab_status()">
          <div> <br>
            <br>
            <table>
              <tr> &nbsp; &nbsp; &nbsp; &nbsp; <span class="glyphicon glyphicon-file glyphicon-xxlarge" style="color:rgba(255,51,102,.6);" ></span> </tr>
              <tr>
                <p align="center"><font color="white" size="4">CAB STATUS</font></p>
              </tr>
            </table>
          </div>
        </div></td>
     
      
    </tr>
  </table>
</div>
