<div id="mainbuspasspage" ng-controller="cabmangementcontroller">
<center>
<div class="form-heading">CAB MANAGEMNT  <a onclick="goBack()"><span class="glyphicon glyphicon-hand-left" title="Go Back" style="color:#FBD999; cursor:pointer;"></span></a> </div>
</center>
  <table cellspacing="150" cellpadding="20">
    <tr>
      <td><div class="bigbar"  ng-click="add_new_cab()">
          <div> <br>
            <br>
            <table>
              <tr> &nbsp; &nbsp; &nbsp; &nbsp;<span class="glyphicon glyphicon-plus glyphicon-xxlarge" style="color:rgba(0,102,102,0.7);" ></span> </tr>
              <tr>
                <p align="center"><font color="white" size="4">ADD NEW CAB</font></p>
              </tr>
            </table>
          </div>
        </div></td>
      <td><div class="bigbar" ng-click="modify_cab_details()">
          <div> <br>
            <br>
            <table>
              <tr> &nbsp; &nbsp; &nbsp; &nbsp; <span class="glyphicon glyphicon-edit glyphicon-xxlarge" style="color:rgba(153,0,51,0.7);" ></span> </tr>
              <tr>
                <p align="center"><font color="white" size="4">MODIFY CAB DETAILS</font></p>
              </tr>
            </table>
          </div>
        </div></td>
     
    </tr>
  </table>
</div>
